{%extends 'basic.html'%}
{% load static%}
{% block title%}booking list{%endblock%}


{% block body%}
<br><br><br><br><br>
<style>
    table,
    th,
    td {
        border: 1px solid aliceblue;
        border-collapse: collapse;
    }

    th,
    td {
        padding: 10px;
        text-align: center;
        color: aliceblue;

    }
</style>

<body>
    <center>
        <center>
            <b>
                <h1 style="color: aliceblue;">Booking List</h1>
            </b>
        </center><br>
        <table style="width:70%">

            <tr>
                <th>UserName</th>
                <th>Email</th>
                <th>CityName</th>
                <th>Total</th>
                <th>Booking Date</th>
                <th>Depart Date</th>
            </tr>
            {% for i in obj %}
            <tr style="font-weight: bolder;color: aliceblue;">
                <td>{{i.UserName}}</td>
                <td>{{i.Email}}</td>
                <td>{{i.CityName}}</td>
                <td>{{i.Total}}</td>
                <td>{{i.Booking_date}}</td>
                <td>{{i.Depart_date}}</td>
            </tr>
            {% endfor %}
        </table><br>
    {%endblock%}